
<div class="collection">
  <a href="#!" class="collection-item"><span class="new badge red">1</span>Gmail</a>
  <a href="#!" class="collection-item"><span class="new badge blue">4</span>Outlook</a>
  <a href="#!" class="collection-item"><span class="new badge green">25</span>Yahoo Mail</a>
  <a href="#!" class="collection-item"><span class="badge">14</span>Aol</a>
</div>
