
<div class="collection">
  <a href="#!" class="collection-item"><span class="new badge red">1</span>Gmail</a>
  <a href="#!" class="collection-item"><span class="new badge blue">4</span>Outlook</a>
  <a href="#!" class="collection-item"><span class="new badge green">25</span>Yahoo Mail</a>
  <a href="#!" class="collection-item"><span class="badge">14</span>Aol</a>
</div>

<div class="container">
  <div class="row">
      <!-- Start of 1st card ... 6 columns in width  -->
      <div class="col s12 m6">
        <h2 class="header">Horizontal Card</h2>
          <div class="card horizontal">
            <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
          </div>
        </div>
        <!-- Start of 2nd Card -->
      <div class="col s12 m6">
        <h2 class="header">Horizontal Card</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
